<div class="demo1">
    <h1>calculator</h1>
    


<input class="res" #n1="ngModel" [(ngModel)]='num1' type="text" name="num1" placeholder="enter the number1" pattern="\d*"/><br>
<div *ngIf="n1.invalid && (n1.dirty || n1.touched)"
class="alert alert-danger">
<div *ngIf="n1.errors.pattern">
Enter the number
</div>
</div>
<input class="res" #n2='ngModel' [(ngModel)]='num2' type="text" name="num2" placeholder="enter the number2" pattern= "\d*"/>
<div *ngIf="n2.invalid && (n2.dirty || n2.touched)"
class="alert alert-danger">
<div *ngIf="n2.errors.pattern">
Enter the number
</div>
</div>
<br>

<div class="demo">
<button class="demo3"(click)="cal_Add()">+</button>
<button class="demo3" (click)="cal_Sub()">-</button><br><br>
<button class="demo3"(click)="cal_Multi()">*</button>
<button class="demo3"(click)="cal_Div()">/</button>


<h2 style="background-color:orange;width:65px;height:40px;border:1px solid black;margin:4px;">{{result}}</h2>
{{a}}
</div>
</div>

