body
{
	background:linear-gradient(yellow,red);

	display:flex;
	align-items: center;
	justify-content: center;
	
	
}
#date{

	border-radius: 20px;
	padding: 20px;
	margin: 10px;
	border:1px solid black;
	width: 570px;
	font-size: 57px;
}
#btn{
	margin: 13px;
	padding: 7px;
	width:170px;
	font-size: 17px;
	border:1px solid black;

}
#demo
{
	font-size: 70px;
	 font-family: 'Hanalei Fill', cursive;
}


