.demo{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.demo1{
    display:flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */

}